{% extends 'base.html' %} {% block content %}

        {{movies.genre}}
        {{movies.release_year}}
        {{movies.writer}}

 <ul class="collapsible" data-collapsible="accordion">

    {% for movies in blog %}
    <li>
      <div class="collapsible-header"><i class="material-icons">keyboard_arrow_down</i><strong>{{movies.title}}</strong> - {{movies.award}}</div>
      <div class="collapsible-body"><span>Greed and class discrimination threaten the newly formed symbiotic relationship between the wealthy Park family and the destitute Kim clan.</span></div>
    </li>
    {% endfor %}

    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>

{% endblock %}